/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/05/2016, 12:08:13 AM
    Author     : Carolina
*/
.panel_central{
    
}

.panel_derecho{
    position:relative;
    background-color: white;
    padding: 5px;
}

.panel_izquierdo{
    height: 0px; 
    width:300px;
    
}
